.conversation-left {
  flex: 0 0 22%;
  flex-direction: column;
  display: flex;
  margin: 0 10px;
}
.conversation-loader {
  flex: 0 0 22%;
  flex-direction: column;
  svg {
    width: 100px;
  }
}
.conversation-list {
  .profile-image {
    width: 18%;
    display: flex;
    justify-content: center;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
