.container {
  display: flex;
  height: 100vh;
  .main {
    display: flex;
    width: 83%;
    margin: 0 auto;
    flex-direction: column;
  }
}
.profile {
  border-radius: 15px;
}
.sidebar {
  background: #f7f7f3;
  display: flex;
  flex-direction: column;
  width: 64px;
  align-items: center;
  justify-content: space-between;
  color: #828282;
  font-size: 18px;
  .sidebar-top {
    img {
      width: 40px;
    }
    margin-top: 40px;
  }
  .sidebar-center {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    top: 100px;
    position: absolute;
    i {
      width: 64px;
      display: flex;
      justify-content: center;
      height: 60px;
      align-items: center;
      &:hover,
      &.active {
        background: #e5e4e0;
        color: black;
      }
    }
  }
  .sidebar-bottom {
    display: flex;
    height: 8%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 49px;
    flex-direction: column;
    img {
      width: 26px;
    }
  }
}

.main-header {
  color: darkgrey;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  .right-section {
    display: flex;
    width: 25%;
    justify-content: space-between;
  }
}
.top {
  display: flex;
  margin: 66px 10px 0 10px;
  justify-content: space-between;
  align-items: center;
  .dropdown {
    position: relative;
    &::after {
      content: '\25BC';
      position: absolute;
      top: 2px;
      right: 0;
      padding: 0 14px;
      color: #6c6c6c;
    }
    select {
      appearance: none;
      padding-left: 32px;
      width: 108px;
      height: 24px;
      border-radius: 15px;
      border: 1px solid darkgray;
      background: white;
      &:focus {
        outline: none;
      }
    }
    .status-icon {
      width: 10px;
      background: #02d23a;
      border-radius: 15px;
      height: 10px;
      position: absolute;
      left: 15px;
      top: 7px;
    }
  }
  .conversation-header-left {
    display: flex;
    align-items: center;
    width: 43%;
    justify-content: space-between;
    button {
      border-radius: 10px;
      border: none;
      width: 72px;
      font-size: 12px;
      padding: 3px 5px;
      background: #f7f7f3;
      :focus {
        outline: none;
      }
      i {
        margin-right: 10px;
      }
    }
    .search-box {
      width: 160px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid darkgray;
      color: #828282;
      i {
        margin: 0 10px;
        font-size: 12px;
        color: #828282;
      }
      input {
        position: absolute;
        width: 100px;
        margin: 1px 5px;
        border: none;
        color: #828282;
        &:focus {
          outline: none;
        }
      }
    }
    .page-title {
      font-size: 29px;
      font-weight: 900;
      color: #292929;
    }
  }
}
.main-container {
  display: flex;
  margin-top: 38px;
  min-height: 700px;
  .conversation-left {
    width: 22%;
    flex-direction: column;
    display: flex;
    margin: 0 10px;
  }
  .conversation-section {
    display: flex;
    width: 100%;
    margin-left: 12px;
  }
  .conversation-section-main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .conversation-section-left {
    width: 31%;
    display: flex;
    flex-direction: column;
  }
}
img {
  width: 100px;
}
