.container {
  display: flex;
  // height: 100vh;
  .main {
    display: flex;
    width: 83%;
    margin: 0 auto;
    flex-direction: column;
    .loader {
      height: 88vh;
      width: 100px;
    }
  }
}
.profile {
  border-radius: 100px;
}

.main-container {
  display: flex;
  margin-top: 30px;
  min-height: 700px;
}
img {
  width: 26px;
}
