.main-header {
  color: darkgrey;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  .right-section {
    display: flex;
    width: 25%;
    justify-content: space-between;
  }
}
